# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# etc
*.db
*.asset
*.uasset
*.ipch
*.vsidx
*.log

FPS_Action/.vs
FPS_Action/Binaries
FPS_Action/Config
FPS_Action/Content
FPS_Action/DerivedDataCache
FPS_Action/Intermediate
FPS_Action/Saved

Test/.vs
Test/Binaries
Test/Config
Test/Content
Test/DerivedDataCache
Test/Intermediate
Test/Saved

TDProject/.vs
TDProject/Binaries
TDProject/Config
TDProject/Content
TDProject/DerivedDataCache
TDProject/Intermediate
TDProject/Saved
