# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# etc
*.db
*.asset
*.uasset
*.ipch
*.log
*.bin

#  Etc
.vsconfig

# Folder
FPS_Action/Binaries
FPS_Action/Intermediate
FPS_Action/Saved
FPS_Action/Content/

Test/Binaries
Test/Intermediate
Test/Saved
Test/Content/